<div class="card text-white bg-dark mb-3 text-center" style="width: 30rem;">
  <div class="card-body">
    <%= form_with(model: comment) do |form| %>
      <% if comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this commentary from being saved:</h2>

          <ul>
            <% comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1>Create new comment</h1>
      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, :size=>"50", :required => 'required' %>
      </div>

      <div class="actions">
        <br>
        <%= form.submit class:'btn btn-outline-success' %> &nbsp&nbsp&nbsp
        <%= link_to 'Back to forum', posts_path , class:'btn btn-outline-warning'%>
      </div>
    <% end %>

  </div>
</div>
