<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3>Title: <small class="text-muted"> <%= @post.title %> </small></h3>
  </div>
  <div class="card-body">
    <h3>Description: <small class="text-muted"> <%= @post.content %> </small></h3> <br>
  </div>
  <div class="card-footer">
    <h5>Created by: <small class="text-muted"> <%= @post.author %></small>, Updated at:
      <small class="text-muted"> <%= @post.updated_at %> </small></h5>
  </div>
</div>

<% if @post.user_id == @current_user.id %>
  <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-outline-primary' %>&nbsp&nbsp
  <%= link_to 'Delete post', post_path(@post), method: :delete, class: 'btn btn-outline-danger' %>&nbsp&nbsp
<% else %>
  <% if @current_user.superuser %>
    <%= link_to 'Delete post', post_path(@post), method: :delete, class: 'btn btn-outline-danger' %>&nbsp&nbsp
  <% end %>>
<% end %>

<%= link_to 'Back to forum', posts_path, class: 'btn btn-outline-warning' %>&nbsp&nbsp
<%= link_to 'Create new comment to this post', new_comment_path, class: "btn btn-outline-info" %>&nbsp&nbsp

<div class="card text-white bg-dark mb-3">
  <h1 class="card-header">Comments:</h1>
  <% comments = Comment.all %>
  <% comments.reverse_each do |comment| %>
    <% if comment.post_id == @post.id %>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h3>Content:&nbsp<small class="text-muted"><%= comment.content %></small></h3>
        </div>
        <div class="card-footer">
          <i>Updated at&nbsp</i> <%= comment.updated_at %>
          <i>by&nbsp</i> <%= User.find_by(id: comment.user_id).try(:name) %>
        </div>
      </div>
      <% if comment.user_id == @current_user.id %>
        <%= link_to 'Edit comment', edit_comment_path(comment), class: 'btn btn-outline-primary' %>&nbsp&nbsp
        <%= link_to 'Delete comment', comment_path(comment), method: :delete, class: 'btn btn-outline-danger' %>&nbsp&nbsp
        <br><br><br>
      <% else %>
        <% if @current_user.superuser %>
          <%= link_to 'Delete comment', comment_path(comment), method: :delete, class: 'btn btn-outline-danger' %>&nbsp&nbsp
          <br><br><br>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
</div>

<% cookies[:post] = { :value => @post.id.to_json, :expires => 10.days.from_now } %>
