<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <h5 class="navbar-text">
          <% if @current_user != nil %>
            You are logged in as <a href="/users/"><i><%= @current_user.name %></i></a>&nbsp &nbsp &nbsp
            <%= link_to 'Log out', session_login_url %>
          <% else %>
            You are not logged
          <% end %>
        </h5>
     </div>
    </nav> <br>
    <%= yield %>
  </body>
</html>
